
body {
    position: relative;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;

    .wrapper {
        width: 100%;
        position: relative;

        .slab-standard {
            width: 1600px;
            height: auto;
            margin: 0 auto;
        }

        .slab-full {
            width: 100%;
            height: auto;
        }

        .main {
            height: 2000px;
            width: 100%;
            position: absolute;
            margin-top: 100vh;
            z-index: 1;
            .top__spacer {
                height: 10vh;
                width: 100vw;
                /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d6d6d6+86,e5e5e5+100&0+0,1+100 */
                background: -moz-linear-gradient(top,  rgba(214,214,214,0) 0%, rgba(214,214,214,0.86) 86%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top,  rgba(214,214,214,0) 0%,rgba(214,214,214,0.86) 86%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom,  rgba(214,214,214,0) 0%,rgba(214,214,214,0.86) 86%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d6d6d6', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
            }
            .main__content {
                height: 2000px;
                width: 100vw;
                background-color: black;
            }
            .bottom__spacer {
                /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e5e5e5+0,d6d6d6+23&1+1,0+22 */
                background: -moz-linear-gradient(top,  rgba(229,229,229,1) 0%, rgba(228,228,228,1) 1%, rgba(215,215,215,0) 22%, rgba(214,214,214,0) 23%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(228,228,228,1) 1%,rgba(215,215,215,0) 22%,rgba(214,214,214,0) 23%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom,  rgba(229,229,229,1) 0%,rgba(228,228,228,1) 1%,rgba(215,215,215,0) 22%,rgba(214,214,214,0) 23%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#00d6d6d6',GradientType=0 ); /* IE6-9 */

                height: 31vh;
                width: 100vw;

            }
        }

        .footer {
            width: 100vw;
            height: 300px;
            background-color: pink;
            position: fixed;
            bottom: 0;
            z-index: 0;
        }
    }
}