$white: #ffffff;
$dark-blue: #00175A;
$grey: #cccccc;
$dark-grey: #333333;
$light-blue: #CCE0FF;
$blue: #006FCF;

// font size 

@mixin flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }