.hide-element {
    display: none;
}

.nav-active {
    color: $yellow;
    text-decoration: none;
}

.nav-background {
    background-color: $blue;
}

.light-grey-bg {
    background-color: #f8f8f8;
}