.hide-element {
    display: none;
}

.nav-active {
    color: $yellow;
    text-decoration: none;
}

.nav-background {
    background-color: $blue;
}

.light-grey-bg {
    background-color: #f8f8f8;
}

.modal-transition {
    right: 0%!important;
    transition: all 0.5s linear;
}
