 // main CTA
.standard-cta {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 23px;
    text-align: center;
    text-decoration: none;
    padding: 16px 43px;
    transition: all 0.3s ease;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
  }

  .standard-cta-alt {
    color: $blue;
    border: 1px solid $blue;
    padding: 16px 23px;
  }

  .standard-cta:hover {
    background: $blue;
    border: 1px solid $blue;
    color: $white;
  }

   // yellow CTA

   .yellow-cta {
    background-color: $yellow;
    padding: 3px 25px;
    border-radius: 2px;
    color: $white;
    text-decoration: none;
    font-weight: bold;
   }

  // quotes tabs

  .tab-quotes {
    background: url('../images/svg/clavis-quotes.svg') no-repeat;
    background-position: left top;
    background-size: 15%;
    margin-top:7rem;
    position: relative;
    @media (max-width: 767px){
        margin-top:2rem;
    }
    .tab-content {
        display: none;
        & > p {
            color: #060606;
            font-size: 29px;
            letter-spacing: 0;
            line-height: 49px;
            height: 165px;
            padding: 2rem 0 15rem 0;
            @media (max-width: 1300px){
                height: initial;
                padding: 2rem 0;
            }
        }
        & > div {
            position: absolute;
            bottom: -8px;
            left: 36%;
            @media (max-width: 1300px) {
                position: initial;
                margin-bottom: 2rem;
            }
            & > h5 {
                color: $dark-grey;
                font-size: 20px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 20px;
                margin: 0px;
            } 
            & > p {
                color: #777777;
                font-size: 17px;
                font-weight: normal;
                letter-spacing: 0;
                line-height: 34px;
                span {
                    font-weight: bold;
                }
            } 
        }
    }

    .tab-nav {
        position: absolute;
        bottom: 0;
        left: 0;
        @media (max-width: 1300px) {
            position: relative;
        }
        a.tab {
            opacity: 0.5;
        }
        a {
            width: 60px;
            height: 60px;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 1rem;
            &:nth-child(1) {
                background-image: url('../images/clavis-usr1.png');
            }
            &:nth-child(2) {
                background-image: url('../images/clavis-usr2.png');
            }
            &:nth-child(3) {
                background-image: url('../images/clavis-usr3.png');
            }
        }
    }
    .tab-content.active {
        display: block;
    }
    .fade-thum {
        opacity: 1!important;
    }
  }

  //hero standard

  .hero-image {
    background: url('../images/clavis-slide-1.jpg') no-repeat;
    height: 100%;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .collaborators-chart {
      div {
          border: 1px solid $blue;
          padding: 2rem;
          img {
              width: auto;
              height: 70px;
          }
      }
  }

  //our team

  .our-team-cards {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .our-team-card-btn {
        flex-basis: 49%;
        @media (max-width: 767px) {
            flex-basis: 100%;
        }
        .team-card-info {
            display: flex;
            flex-direction: row;
            cursor: pointer;
            @media (max-width: 767px) {
                flex-direction: row;
                align-items: flex-start;
            }
            .profile-picture {
                width: 44%;
                height: auto;
                padding-top: 48%;
                transition: all .2s;
                overflow: hidden;
                @media (max-width: 767px) {
                    padding-top: 32%;
                }
                &.p-id-1 {
                    background: url('../images/clavis-team-1.jpg') no-repeat;
                    background-size: 100%;
                    background-position: center center;
                }
                &.p-id-2 {
                    background: url('../images/clavis-team-2.jpg') no-repeat;
                    background-size: 100%;
                    background-position: center center;
                }
                &.p-id-3 {
                    background: url('../images/clavis-team-3.jpg') no-repeat;
                    background-size: 100%;
                    background-position: center center;
                }
                &.p-id-4 {
                    background: url('../images/clavis-team-4.jpg') no-repeat;
                    background-size: 100%;
                    background-position: center center;
                }
            }
            .team-card-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 56%;
                padding: 0 2rem;
                @media (max-width: 767px) {
                    width: 100%;
                    padding: 0rem;
                    align-items: flex-start;
                    margin-left: 1rem;
                }
                p {
                    font-size: 14px;
                    line-height: 26px;
                    @media (max-width: 767px) {
                        line-height: 16px;
                    }
                }
                .card-link {
                    position: relative;
                    font-size: 12px;
                    line-height: 22px;
                    font-weight: bold;
                    color:$blue;
                    text-decoration: none;
                    transition: background-image 0.5s ease;
                    height: auto;
                    width: 100%;
                    padding: 0.8rem 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    @media (max-width: 767px) {
                       padding: 0.5rem 0;
                    }
                    svg {
                        width: 35px;
                        .collab-arrow-0{fill:none;stroke:#060606;stroke-width:3;stroke-linecap:round;}
                        .collab-arrow-1{fill:none;stroke:#060606;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;}
                    }
                    
                    span {
                        transition: opacity .2s ease-in-out;
                        transition: .2s;
                        position: absolute;
                        opacity: 0;
                        left: 20px;
                        top: 50px;
                        top: 50%;
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                    }
                }
            }

            &:hover .profile-picture {
                background-size: 120%;
                background-position: center;
            }

            &:hover .team-card-content a svg .collab-arrow-0 {
                stroke: $blue;
            }
            &:hover .team-card-content a svg .collab-arrow-1 {
                stroke: $blue;
            }
            &:hover .team-card-content a span {
                opacity: 1;
                left: 50px;
            }
        }
        
      }
  }


.modal {
    position: fixed;
    top: 0;
    right: -100vw;
    width: 100vw;
    height:100vh;
    background: $white;
    z-index: 1;
    &::before {
        content: '';
        position: absolute;
        left: 0px;
        top: 0;
        width: 50%;
        height: 100%;
        background: $light-greay;
        @media (max-width: 767px) { 
            width: 100%;
        }
    }
    .modal-wrapper {
        max-width: 1430px;
        width: 100%;
        margin: 0 auto;
        padding: 130px 1rem 1rem;
        position: relative;
        @media (max-width: 767px) { 
            height: 100%;
        }
        .modal-close-btn {
            position: absolute;
            right: 1rem;
            top: 150px;
            font-size: 20px;
            border: none;
            background: $white;
            z-index: 4;
            @media (max-width: 767px) { 
                background: none;
            }
            .close-modal {
                width: 30px;
                height: 30px;
                display: block;
                background: url('../images/svg/clavis-close-modal.svg') no-repeat;
                @media (max-width: 767px) {
                    width: 17px;
                    height: 17px;
                    background-size: cover;
                }
            }
          }
    }
    .members-cv {
        display: flex;
        flex-direction: row;
        margin-top: -1rem;

        &:before {
            content: '';
            height: 50px;
            width: 100%;
            bottom: 0px;
            left: 0px;
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#999999+0,e5e5e5+51&0+0,1+51 */
            background: -moz-linear-gradient(top,  rgba(153,153,153,0) 0%, rgba(229,229,229,1) 51%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(153,153,153,0) 0%,rgba(229,229,229,1) 51%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(153,153,153,0) 0%,rgba(229,229,229,1) 51%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00999999', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */


            position: absolute;
            z-index: 1;
        }
        @media (max-width: 767px) {
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            overflow: scroll;
        }
        .member-info {
            padding: 5rem 6rem 2rem 0;
            max-width: 360px;
            width: 100%;
            @media (max-width: 1023px) {
                padding: 2rem 0rem 0rem 0;
                max-width: 100%;
            }
            .member-header {
                @media (max-width: 767px) {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
                img {
                    width: 340px;
                    height: auto;

                    @media (max-width: 767px) {
                        width: 100px;
                        height: 120px;
                    }
                }
                div {
                    margin-left: 0rem;
                    @media (max-width: 767px) {
                        margin-left: 1rem;
                    }
                    h4 {
                        margin-top: 3rem;
                        @media (max-width: 767px) {
                            margin-top: 0rem;
                        }
                    }
                    p {
                        font-size: 13px;
                        line-height: 26px;
                        @media (max-width: 767px) {
                            line-height: 13px;
                        }
                    }
                }
            }
            

            ul {
                padding: 1rem 0 0 0;
                border-top: 1px solid $grey;
                @media (max-width: 1023px) {
                    margin: 0 2.5rem 0 0;
                }
                @media (max-width: 767px) {
                    border-top: none;
                    margin: none;
                }
                li {
                    list-style-type: none;
                    font-size: 13px;
                    line-height: 26px;
                    position: relative;
                    color: $grey;
                    padding-left: 2rem;
                    &:nth-child(1) {
                        background: url('../images/svg/clavis-contact.svg') left center/16px auto no-repeat;
                    }
                    &:nth-child(2) {
                        background: url('../images/svg/clavis-phone.svg') left center/16px auto no-repeat;
                    }
                    &:nth-child(3) {
                        background: url('../images/svg/clavis-in.svg') left center/16px auto no-repeat;
                    }
                }
            }
        }
        .scrollable-member-desc {
            position: relative;
            height: 100vh;
            @media (max-width: 767px) {
                height: auto;
            }
            .member-desc {
                padding: 5.5rem 3rem 10rem 8rem;
                margin-right: 4rem;
                background: $white;
                height: 100vh;
                overflow: scroll;
                position: relative;
                @media (max-width: 1023px) {
                    padding: 5.5rem 3rem 10rem 1rem;
                    margin-right: 0rem;
                    background: $light-greay;
                }
                @media (max-width: 767px) {
                    padding: 4rem 0 1rem 0;
                    margin-right: 0rem;
                    height:100%
                    /*-webkit-overflow-scrolling: touch;*/ 
                }
                p {
                    font-size: 21px;
                    line-height: 33px;
                    width: 100%;
                    max-width: 850px;
                    @media (max-width: 1023px) {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
                ul {
                    padding: 0px;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    align-items: center;
                    @media (max-width: 767px) {
                        flex-direction: column;
                        align-items: flex-start;
                    }
                    li {
                        list-style-type: none;
                        margin-right: 1rem;
                        font-size: 13px;
                        color: $grey;
                        display: flex;
                        align-items: center;
                        @media (max-width: 767px) {
                            margin-bottom: 1rem;
                            width: 130px;
                        }
                        i {
                            padding-right: 0.5rem;
                            @media (max-width: 767px) {
                                width: 130px;
                            }
                            img {
                                height: auto;
                                width: 20px;
                                &.ico-1 {
                                    width: 40px;
                                }
                                &.ico-2 {
                                    width: 29px;
                                }

                                &.ico-3 {
                                    width: 27px;
                                }
                            }
                        }
                        span {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
  }

.parallax-slide {
    height: 70vh;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
    @media (max-width: 767px) {
        height: 50vh;
    }
}

.parallax-slide-1 {
    background: url('../images/clavis-parallax-1.jpg') no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}

.parallax-slide-2 {
    background: url('../images/clavis-parallax-2.jpg') no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}

.parallax-slide-3 {
    background: url('../images/clavis-parallax-3.jpg') no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}


.headline-animated {
    .line{
        width: 100%;
        position: relative;
        height: auto;
        span {
            position: relative;
            font-size: 52px;
            letter-spacing: 0;
            line-height: 1;
            opacity: 1;
            @media (max-width: 767px) {
                font-size: 40px;
            }
        }
      }
}

.slab-inner-card {
    padding: 4.5rem 0;
    background: url('../images/clavis-ripple.jpg') left center / auto auto no-repeat;
    background-size: contain;
    display: flex;
    justify-content: flex-end;
    @media (max-width: 1023px) {
        background-size: cover;
        justify-content: center;
    }
    .slab-card {
        max-width: 670px;
        width: 100%;
        background-color: $white;
        padding: 130px 95px 130px 45px;
        box-shadow: 0 5px 83px 0 rgba(40,40,40,0.12);
        @media (max-width: 767px) {
            padding: 2rem 2rem 3rem 2rem;
            width: 90%;
            margin: 0 auto;
        }
        h2 {
            @media (max-width: 767px) {
                margin: 0 0 1rem 0;
            }
        }
        p {
            @media (max-width: 767px) {
                margin: 2rem 0;
            }
        }
        a.standard-cta-alt {
            padding: 16px 40px;
        }
        ul {
            padding: 0;
            li {
                color: $grey;
                line-height: 34px;
                margin: 1.2rem 0;
                list-style-type: none;
                padding-left: 2rem;
                background: url('../images/svg/clavis-bullet-icon.svg') left center/auto auto no-repeat;
                @media (max-width: 767px) {
                    margin: 0.5rem 0;
                }
            }
        }
        
    }
    &.slab-inner-card-alt {
        padding: 3.5rem 0;
        .slab-card {
            padding:50px 45px;
        }
        
    }
}

.target-sector {
    display: flex;
    flex-direction: row;
    .col {
        position: relative;
    }
    @media (max-width: 767px) {
        flex-direction: column;
    }
    div.col.col.three-cols {
        height: 500px;
        background-size: 100%;
        background-position: center;
        position: relative;
        @media (max-width: 1023px) {
            height: 400px;
        }
        @media (max-width: 767px) {
            height: 250px;
            flex-basis: initial;
        }
        &.t01 {
            background: url('../images/clavis-target-sector-1.jpg') no-repeat;
            background-size: cover;
            background-position: center;
        }

        &.t02 {
            background: url('../images/clavis-target-sector-2.jpg') no-repeat;
            background-size: cover;
            background-position: center;
        }

        &.t03 {
            background: url('../images/clavis-target-sector-3.jpg') no-repeat;
            background-size: cover;
            background-position: center;
        }

        &.t04 {
            background: url('../images/clavis-target-sector-4.jpg') no-repeat;
            background-size: cover;
            background-position: center;
        }

        &.t05 {
            background: url('../images/clavis-target-sector-5.jpg') no-repeat;
            background-size: cover;
            background-position: center;
        }

        &.t06 {
            background: url('../images/clavis-target-sector-6.jpg') no-repeat;
            background-size: cover;
            background-position: center;
        }
        h4 {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            margin-bottom: 0rem;
            background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #000000 100%);
            padding: 1.2rem;
            span {
                color: $white;
                display: block;
                height: 54px;
                width: 214px;
                background-color: #0F4C81;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 19px;
                text-align: center;
                line-height: 23px;
                padding: 0 1rem;
                @media (max-width: 767px) {
                   font-size: 15px;
                   line-height: 19px;
                   height: 44px;
                   width: 170px;
                }

            }
        }
    }
}

.porfolio {
    background-color: red;
}