 // main CTA
.standard-cta {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 23px;
    text-align: center;
    text-decoration: none;
    padding: 16px 43px;
    transition: all 0.3s ease;
    margin-bottom: 1.8rem;
    cursor: pointer;
  }

  .standard-cta-alt {
    color: $blue;
    border: 1px solid $blue;
    padding: 16px 17px;
  }

  .standard-cta:hover {
    background: $blue;
    border: 1px solid $blue;
    color: $yellow;
  }

   // yellow CTA

   .yellow-cta {
    background-color: $yellow;
    padding: 3px 25px;
    border-radius: 2px;
    color: $white;
    text-decoration: none;
    font-weight: bold;
   }

  // quotes tabs

  .tab-quotes {
    background: url('../images/svg/clavis-quotes.svg') no-repeat;
    background-position: left top;
    background-size: 15%;
    margin-top:11rem;
    position: relative;
    @media (max-width: 767px){
        margin-top:2rem;
    }
    .tab-content {
        display: none;
        & > p {
            color: #060606;
            font-size: 29px;
            letter-spacing: 0;
            line-height: 49px;
            height: 165px;
            padding: 2rem 0 15rem 0;
            @media (max-width: 1300px){
                height: initial;
                padding: 2rem 0;
            }
        }
        & > div {
            position: absolute;
            bottom: -8px;
            left: 36%;
            @media (max-width: 1300px) {
                position: initial;
                margin-bottom: 2rem;
            }
            & > h5 {
                color: $dark-grey;
                font-size: 20px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 20px;
                margin: 0px;
            } 
            & > p {
                color: #777777;
                font-size: 17px;
                font-weight: normal;
                letter-spacing: 0;
                line-height: 34px;
                span {
                    color: $dark-grey;
                    font-weight: bold;
                }
            } 
        }
    }

    .tab-nav {
        position: absolute;
        bottom: 0;
        left: 0;
        @media (max-width: 1300px) {
            position: relative;
        }
        a.tab {
            opacity: 0.5;
        }
        a {
            width: 60px;
            height: 60px;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 1rem;
            &:nth-child(1) {
                background-image: url('../images/clavis-usr1.png');
            }
            &:nth-child(2) {
                background-image: url('../images/clavis-usr2.png');
            }
            &:nth-child(3) {
                background-image: url('../images/clavis-usr3.png');
            }
        }
    }
    .tab-content.active {
        display: block;
    }
    .fade-thum {
        opacity: 1!important;
    }
  }

  // footer 

  .footer {
    width: 100%;
    height: auto;
    background-color: $blue;
    position: sticky;
    bottom: 0;
    z-index: 1;
    font-size: 15px;
    line-height: 19px;
      .footer-top {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          position: relative;
          @media (max-width: 767px) {
            flex-direction: column;
            align-items: flex-start;
          }
          .footer-info {
              ul {
                  padding:0;
                  margin-top: 2rem;
                  li {
                    color: $white;
                    list-style-type: none;
                  }
                  &:last-child {
                    margin-top: 1.5rem;
                  }
              }
          }
          .footer-nav {
              display: flex;
              flex-direction: row;
              @media (max-width: 767px) {
                flex-direction: column;
                align-items: flex-start;
              }
              ul {
                padding: 0px;
                margin-top: 1rem;
                li {
                  list-style-type: none;
                  margin-bottom: 1rem;
                  a {
                    color: $white;
                    text-decoration: none;
                    font-weight: bold;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                &:first-child {
                    margin-right: 4rem;
                }
            }
          }
          &::after {
              content: '';
              width: 100vw;
              height: 1px;
              background: $white;
              position: absolute;
              bottom: 0px;
              margin-left: -50vw;
              left: 50%;
              opacity: 0.2;
          }
      }
      .footer-bottom {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          @media (max-width: 767px) {
            flex-direction: column;
            align-items: flex-start;
          }
          p, a {
            color: $white;
          }
          a {
              font-weight: bold;
              text-decoration: none;
              text-transform: uppercase;
              @media (max-width: 767px) {
                margin-top: 1rem;
              }
              &:hover {
                text-decoration: underline;
            }
          }

      }
  }

  //hero standard

  .hero-image {
    background: url('../images/clavis-slide-1.jpg') no-repeat;
    height: 100%;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .collaborators-chart {
      div {
          border: 1px solid $blue;
          padding: 2rem;
          img {
              width: auto;
              height: 70px;
          }
      }
  }

  //our team

  .our-team-cards {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .our-team-card-btn {
        flex-basis: 49%;
        @media (max-width: 767px) {
            flex-basis: 100%;
        }
        .team-card-info {
            display: flex;
            flex-direction: row;
            @media (max-width: 767px) {
                flex-direction: column;
            }
            cursor: pointer;
            img {
                width: 44%;
                height: auto;
                @media (max-width: 767px) {
                    width: 100%;
                    margin-bottom: 2rem;
                    height: 200px;
                    object-fit: contain;
                }
            }
            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 56%;
                padding: 0 2rem;
                @media (max-width: 767px) {
                    width: 100%;
                    padding: 0rem;
                    align-items: center;
                }
                p {
                    font-size: 14px;
                    line-height: 26px;
                }
                a {
                    position: relative;
                    font-size: 12px;
                    line-height: 22px;
                    font-weight: bold;
                    color:$blue;
                    text-decoration: none;
                    background: url('../images/svg/clavis-arrow.svg') no-repeat;
                    background-size: contain;
                    background-position: left center;
                    transition: background-image 0.5s ease;
                    height: 21px;
                    width: 100%;
                    @media (max-width: 767px) {
                        background-position: center center;
                    }
                    span {
                        transition: opacity .2s ease-in-out;
                        transition: .2s;
                        position: absolute;
                        opacity: 0;
                        left: 20px;
                        top: 0px;
                        bottom: 0px;
                        margin: auto;
                    }
                }
            }
            &:hover a {
                background: url('../images/svg/clavis-arrow-hover.svg') no-repeat;
                background-size: contain;
                background-position: left center;
            }
            &:hover a span {
                opacity: 1;
                left: 50px;
            }
        }
        
      }
  }


.modal {
    position: fixed;
    top: 0;
    right: -100vw;
    width: 100vw;
    height:100vh;
    background: $white;
    z-index: 1;
    &::before {
        content: '';
        position: absolute;
        left: 0px;
        top: 0;
        width: 50%;
        height: 100%;
        background: $light-greay;
    }
    .modal-wrapper {
        max-width: 1430px;
        width: 100%;
        margin: 0 auto;
        padding: 130px 1rem 1rem;
        position: relative;
        .modal-close-btn {
            position: absolute;
            right: 1rem;
            top: 150px;
            font-size: 20px;
            border: none;
            background: $white;
            .close-modal {
                width: 30px;
                height: 30px;
                display: block;
                background: url('../images/svg/clavis-close-modal.svg') no-repeat;
            }
          }
    }
    .members-cv {
        display: flex;
        flex-direction: row;
        margin-top: -1rem;
        @media (max-width: 767px) {
            flex-direction: column;
        }
        .member-info {
            padding: 5rem 6rem 2rem 0;
            @media (max-width: 1023px) {
                padding: 5rem 2rem 2rem 0;
            }
            img {
                width: 300px;
                height: auto;
            }
        }
        .member-desc {
            padding: 5rem 7rem 2rem 8rem;
            background: $white;
            height: 100vh;
            @media (max-width: 1023px) {
                padding: 5rem 2rem 2rem 2rem;
            }
            p {
                font-size: 21px;
                line-height: 33px;
            }
        }
    }
  }

  