
body {
    position: relative;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    // @media (max-width: 767px) {
    //     overflow: scroll!important;
    // }

    .wrapper {
        width: 100%;
        position: relative;

        .slab-standard {
            max-width: 1430px;
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding: 0 1rem;
            &.hero-standard {
                margin-top: 130px;
                @media only screen and (max-width: 767px) {
                  margin-top: 86px;
                }
                h2 {
                    max-width: 80%;
                    width: 100%;
                }
            }
            &.hero-standard-alt {
                h2 {
                    max-width: 100%;
                }
            }
        }

        .slab-full {
            width: 100%;
            height: auto;
            .slab-row {
                max-width: 1430px;
                width: 100%;
                height: auto;
                margin: 0 auto;
                padding: 0 1rem;
            }
        }

        .slab-full-half {
            position: relative;
            width: 100%;
            height: auto;
            &::before {
                content: '';
                width: 100%;
                height: 50%;
                left: 0px;
                top: 0px;
                position: absolute;
                background: $white;
            }
            img {
                height: auto;
                width: 100%;
            }
        }

        .main {
            width: 100%;
            position: absolute;
            z-index: 1;
            @media (min-width: 768px) {
              margin-top: 100vh;
              }
            .main-content {
                height: auto;
                width: 100vw;
                background-color: $white;
                position: relative;
                z-index: 2;
                .signature {
                    position: relative;
                    padding-top: 50%;
                    background: url('../images/clavis-helmet-1.jpg') no-repeat;
                    background-size: 86%;
                    background-position: top left;
                    h2 {
                        position: absolute;
                        left: 0px;
                        top: -1.2rem;
                        @media only screen and (max-width: 767px) {
                            top: -4rem;
                          }
                    }
                }
                .hard-hat {
                    margin-bottom: -150px;
                }
            }
            .bottom__spacer {
                /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e5e5e5+0,d6d6d6+23&1+1,0+22 */
                // background: -moz-linear-gradient(top,  rgba(229,229,229,1) 0%, rgba(228,228,228,1) 1%, rgba(215,215,215,0) 22%, rgba(214,214,214,0) 23%); /* FF3.6-15 */
                // background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(228,228,228,1) 1%,rgba(215,215,215,0) 22%,rgba(214,214,214,0) 23%); /* Chrome10-25,Safari5.1-6 */
                // background: linear-gradient(to bottom,  rgba(229,229,229,1) 0%,rgba(228,228,228,1) 1%,rgba(215,215,215,0) 22%,rgba(214,214,214,0) 23%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#00d6d6d6',GradientType=0 ); /* IE6-9 */

                height: 31vh;
                width: 100vw;

            }
        }
        .main-alt {
            @media (min-width: 768px) {
                margin-top: 0;
              }
        }
    }
}