.nav{
    width: 100vw;
    height: 130px;
    position: fixed;
    top: 0px;
    z-index: 2;
}

.nav-alt {
    background-color: $white;
    border-bottom: 1px solid #DBDBDB;
    .nav-menu {
        background-color: $white;
        .nav-item {
            .nav-link::before {
                background-color: $blue;
            }
            a {
                color: $blue;
            }
            .nav-active {
                color: $yellow;
                pointer-events: none;
            }
            &.nav-item-last {
                a {
                    color: $white;
                }
            }
        }
    }

    .hamburger {
        .bar {
            background: $blue;
        }
    }
    
}

.nav-container {
    height: 130px;
    max-width: 1430px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: $white;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px;
}

.nav-item {
    color: $white;
    font-size: 15px;
    line-height: 22px;
    font-weight: bold;
}

.nav-link {
    color: $white;
    text-decoration: none;
    position: relative;
}

.nav-link::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
}
.nav-link:hover::before {
    width: 100%;
}

.nav-logo-container {
    z-index: 1;
}

.nav-logo {
    width: 195px;
    height: auto;
}

@media only screen and (max-width: 1024px) {
    .nav-container {
        flex-direction: column;
        padding: 1.5rem 1rem;
        align-items: flex-start;
    }
    .nav-logo {
        width: 70%;
        height: auto;
        padding-right: 0px;
    }
    .nav-item {
        font-size: 14px;
        line-height: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .nav-container {
        flex-direction: row;
        padding: 1rem;
        align-items: center;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 0;
        flex-direction: column;
        background-color: $blue;
        width: 100%;
        height: 100vh;
        transition: 0.3s;
        align-items: flex-start;
        padding: 18vh 1rem 45vh 1rem!important;
    }

    .nav-menu.active {
        left: 0;
        top: 0;
    }

    .nav-item {
        margin: 0.5rem 0;
        font-size: 17px;
        line-height: 21px;
        position: relative;
        width: 100%;
        &::before {
            content: '';
            position: absolute;
            height: 1px;
            width: 100%;
            left: 0px;
            bottom: -5px;
            background: $light-blue;
        }
        &:last-child {
            &::before {
                content: none;
            }
        }
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

