$white: #ffffff;
$yellow: #d0af21;
$grey: #6C6C6C;
$dark-grey: #060606;
$light-blue: #CCE0FF;
$blue: #0065A1;

// font size 

@mixin flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }