/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-weight: bold;
}

.main-headline {
  color: #0065A1;
  font-size: 52px;
  letter-spacing: 0;
  line-height: 66px;
}

@media (max-width: 767px) {
  .main-headline {
    font-size: 40px;
    line-height: 50px;
  }
}

.main-headline-alt {
  color: #0065A1;
  font-size: 62px;
  letter-spacing: 0;
  line-height: 100px;
}

@media (max-width: 767px) {
  .main-headline-alt {
    font-size: 40px;
    line-height: 50px;
  }
}

.main-headline-alt span {
  position: relative;
  display: inline-block;
  opacity: 0;
  left: 25px;
}

.headline-dark {
  color: #060606;
  font-size: 34px;
  letter-spacing: 0;
  line-height: 40px;
}

.headline-dark-alt {
  color: #060606;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 34px;
}

.headline-dark-alt-sm {
  color: #060606;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 30px;
}

.eyebrow {
  color: #0065A1;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 29px;
}

p {
  color: #6C6C6C;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

body .wrapper {
  width: 100%;
  position: relative;
}

body .wrapper .slab-standard {
  max-width: 1430px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 1rem;
}

body .wrapper .slab-standard.hero-standard {
  margin-top: 130px;
}

@media only screen and (max-width: 767px) {
  body .wrapper .slab-standard.hero-standard {
    margin-top: 86px;
  }
}

body .wrapper .slab-standard.hero-standard h2 {
  max-width: 80%;
  width: 100%;
}

body .wrapper .slab-full {
  width: 100%;
  height: auto;
}

body .wrapper .slab-full .slab-row {
  max-width: 1430px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 1rem;
}

body .wrapper .slab-full-half {
  position: relative;
  width: 100%;
  height: auto;
}

body .wrapper .slab-full-half::before {
  content: '';
  width: 100%;
  height: 50%;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #ffffff;
}

body .wrapper .slab-full-half img {
  height: auto;
  width: 100%;
}

body .wrapper .main {
  width: 100%;
  position: absolute;
  margin-top: 100vh;
  z-index: 1;
}

body .wrapper .main .main-content {
  height: auto;
  width: 100vw;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
}

body .wrapper .main .main-content .signature {
  position: relative;
  padding-top: 50%;
  background: url("../images/clavis-helmet-1.jpg") no-repeat;
  background-size: 86%;
  background-position: top left;
}

body .wrapper .main .main-content .signature h2 {
  position: absolute;
  left: 0px;
  top: -1.2rem;
}

@media only screen and (max-width: 767px) {
  body .wrapper .main .main-content .signature h2 {
    top: -4rem;
  }
}

body .wrapper .main .main-content .hard-hat {
  margin-bottom: -150px;
}

body .wrapper .main .bottom__spacer {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e5e5e5+0,d6d6d6+23&1+1,0+22 */
  height: 31vh;
  width: 100vw;
}

body .wrapper .main-alt {
  margin-top: 50vh;
}

.body-no-scroll {
  overflow: hidden;
}

.hide-element {
  display: none;
}

.nav-active {
  color: #d0af21;
  text-decoration: none;
}

.nav-background {
  background-color: #ffffff;
  border-bottom: 1px solid #DBDBDB;
}

.nav-background .nav-logo-container {
  z-index: 1;
  background: url("../images/svg/clavis-logo.svg") no-repeat;
  background-size: contain;
  width: 195px;
  height: 67px;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .nav-background .nav-logo-container {
    width: 150px;
    height: 50px;
  }
}

.nav-background .nav-menu .nav-item .nav-link {
  color: #0065A1;
}

.nav-background .nav-menu .nav-item .nav-link:before {
  background-color: #0065A1;
}

.nav-background .nav-menu .nav-item .nav-link:hover::before {
  width: 100%;
}

.light-grey-bg {
  background-color: #f8f8f8;
}

.modal-transition {
  right: 0% !important;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.capital-letter:first-letter {
  color: #0065A1;
  display: block;
  float: left;
  font-size: 100px;
  line-height: 100px;
  margin-top: -34px;
}

@media (max-width: 767px) {
  .capital-letter:first-letter {
    font-size: 60px;
    line-height: 90px;
    margin-top: -30px;
  }
}

.headline-animation-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 300px;
}

@media (max-width: 767px) {
  .headline-animation-container {
    height: 100%;
  }
}

.headline-animation {
  position: absolute;
  top: 40px;
  opacity: 0;
  left: 25px;
  width: 100%;
}

.no-break {
  white-space: nowrap;
}

.header {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
}

.header-alt {
  height: auto;
  position: fixed;
}

.nav {
  width: 100vw;
  height: 130px;
  position: fixed;
  top: 0px;
  z-index: 2;
}

@media only screen and (max-width: 767px) {
  .nav {
    height: 86px;
  }
}

.nav-alt {
  background-color: #ffffff;
  border-bottom: 1px solid #DBDBDB;
}

.nav-alt .nav-logo-container {
  z-index: 1;
  background: url("../images/svg/clavis-logo.svg") no-repeat;
  background-size: contain;
  width: 195px;
  height: 67px;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .nav-alt .nav-logo-container {
    width: 150px;
    height: 50px;
  }
}

.nav-alt .nav-menu {
  background-color: #ffffff;
}

.nav-alt .nav-menu .nav-item .nav-link::before {
  background-color: #0065A1;
}

.nav-alt .nav-menu .nav-item a {
  color: #0065A1;
}

.nav-alt .nav-menu .nav-item .nav-active {
  color: #d0af21;
  pointer-events: none;
}

.nav-alt .nav-menu .nav-item.nav-item-last a {
  color: #ffffff;
}

.nav-alt .hamburger .bar {
  background: #0065A1;
}

.nav-container {
  height: 130px;
  max-width: 1430px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

@media only screen and (max-width: 767px) {
  .nav-container {
    height: 86px;
  }
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 900px;
}

.nav-item {
  color: #ffffff;
  font-size: 15px;
  line-height: 22px;
  font-weight: bold;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

.nav-link::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0%;
  height: 2px;
  background-color: white;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::before {
  width: 100%;
}

.nav-logo-container {
  z-index: 1;
  background: url("../images/svg/clavis-logo-home.svg") no-repeat;
  background-size: contain;
  width: 195px;
  height: 67px;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .nav-logo-container {
    width: 150px;
    height: 50px;
  }
}

.nav-logo {
  width: 195px;
  height: auto;
}

@media only screen and (max-width: 1023px) {
  .nav-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.5rem 1rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .nav-container .nav-menu {
    padding-top: 1rem;
  }
  .nav-logo {
    width: 70%;
    height: auto;
    padding-right: 0px;
  }
  .nav-item {
    font-size: 14px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .nav-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #0065A1;
    width: 100%;
    height: 100vh;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 18vh 1rem 45vh 1rem !important;
  }
  .nav-menu.active {
    left: 0;
    top: 0;
  }
  .nav-item {
    margin: 0.5rem 0;
    font-size: 17px;
    line-height: 21px;
    position: relative;
    width: 100%;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}

.carousel {
  width: 100vw;
  height: 100vh;
  background: blue;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: center;
  background-size: cover;
}

.swiper-slider-container {
  width: 85%;
  padding: 1rem;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-slider-container > * {
  margin-left: 117px;
  color: #ffffff;
  text-align: left;
}

.swiper-slider-container h2 {
  font-size: 52px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 66px;
  margin-bottom: 1rem;
}

.swiper-slider-container p {
  font-size: 19px;
  letter-spacing: 0;
  line-height: 27px;
  width: 100%;
  max-width: 550px;
  margin-bottom: 2.5rem;
}

.standard-cta {
  border: 1px solid #ffffff;
  color: #ffffff;
}

.swiper-slide:nth-child(1) {
  background-image: url("../images/clavis-slide-1.jpg");
}

.swiper-slide:nth-child(2) {
  background-image: url("../images/clavis-slide-2.jpg");
}

.swiper-slide:nth-child(3) {
  background-image: url("../images/clavis-slide-3.jpg");
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: .3s opacity;
  transition: .3s opacity;
  z-index: 10;
  -webkit-transform: rotate(90deg) !important;
          transform: rotate(90deg) !important;
  width: 87px !important;
  margin: auto;
  height: 20px !important;
  bottom: 0 !important;
  left: 6% !important;
  top: -160px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.swiper-pagination-bullet {
  width: 13px !important;
  height: 13px !important;
  opacity: 1 !important;
  background: none !important;
  border: 2px solid #ffffff;
}

.swiper-pagination-bullet-active {
  background: #ffffff !important;
}

.arrow-dowm {
  position: absolute;
  top: 75vh;
  left: 9vw;
  z-index: 2;
}

@media (max-width: 1023px) {
  .arrow-dowm {
    top: 50vh;
    left: 4vw;
  }
}

@media (max-width: 767px) {
  .arrow-dowm {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .swiper-slider-container {
    width: 100%;
  }
  .swiper-slider-container h2 br {
    display: none;
  }
  .swiper-pagination {
    left: 0% !important;
  }
}

@media only screen and (max-width: 767px) {
  .swiper-pagination {
    display: none;
  }
  .swiper-slider-container > * {
    margin-left: 0px;
  }
  .swiper-slider-container h2 {
    font-size: 36px;
    line-height: 44px;
  }
}

.flex-grid {
  max-width: 1430px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-grid img {
  width: 100%;
  height: auto;
}

.flex-grid .col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.flex-grid-two,
.flex-grid-thirds,
.flex-grid-fourths {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-grid-two .col {
  width: 49%;
}

.flex-grid-thirds .col {
  width: 32%;
}

.flex-grid-fourths .col {
  width: 23.5%;
}

@media (max-width: 1023px) {
  .flex-grid-fourths {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .flex-grid-fourths .col {
    width: 49%;
    margin: 0 0 1rem 0;
  }
}

@media (max-width: 767px) {
  .flex-grid,
  .flex-grid-thirds,
  .flex-grid-fourths,
  .flex-grid-two {
    display: block;
  }
  .flex-grid .col,
  .flex-grid-thirds .col,
  .flex-grid-fourths .col,
  .flex-grid-two .col {
    width: 100%;
    margin: 0 0 1rem 0;
  }
}

.flex-grid-inner {
  margin: 0 -1rem;
}

.col {
  padding: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-5 {
  padding-top: 5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.pb-7 {
  padding-bottom: 7rem;
}

.top-1 {
  top: 1rem;
}

.top-2 {
  top: 2rem;
}

.top-3 {
  top: 3rem;
}

.top-4 {
  top: 4rem;
}

.top-5 {
  top: 5rem;
}

@media (max-width: 767px) {
  .pb-0 {
    padding-bottom: 0;
  }
  .pt-0 {
    padding-top: 0;
  }
}

.w-80 {
  width: 100%;
}

@media (min-width: 768px) {
  .w-80 {
    width: 80%;
  }
}

.standard-cta {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 23px;
  text-align: center;
  text-decoration: none;
  padding: 16px 43px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 1.8rem;
  cursor: pointer;
  text-transform: uppercase;
}

.standard-cta-alt {
  color: #0065A1;
  border: 1px solid #0065A1;
  padding: 16px 17px;
}

.standard-cta:hover {
  background: #0065A1;
  border: 1px solid #0065A1;
  color: #ffffff;
}

.yellow-cta {
  background-color: #d0af21;
  padding: 3px 25px;
  border-radius: 2px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.tab-quotes {
  background: url("../images/svg/clavis-quotes.svg") no-repeat;
  background-position: left top;
  background-size: 15%;
  margin-top: 11rem;
  position: relative;
}

@media (max-width: 767px) {
  .tab-quotes {
    margin-top: 2rem;
  }
}

.tab-quotes .tab-content {
  display: none;
}

.tab-quotes .tab-content > p {
  color: #060606;
  font-size: 29px;
  letter-spacing: 0;
  line-height: 49px;
  height: 165px;
  padding: 2rem 0 15rem 0;
}

@media (max-width: 1300px) {
  .tab-quotes .tab-content > p {
    height: initial;
    padding: 2rem 0;
  }
}

.tab-quotes .tab-content > div {
  position: absolute;
  bottom: -8px;
  left: 36%;
}

@media (max-width: 1300px) {
  .tab-quotes .tab-content > div {
    position: initial;
    margin-bottom: 2rem;
  }
}

.tab-quotes .tab-content > div > h5 {
  color: #060606;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
  margin: 0px;
}

.tab-quotes .tab-content > div > p {
  color: #777777;
  font-size: 17px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 34px;
}

.tab-quotes .tab-content > div > p span {
  font-weight: bold;
}

.tab-quotes .tab-nav {
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (max-width: 1300px) {
  .tab-quotes .tab-nav {
    position: relative;
  }
}

.tab-quotes .tab-nav a.tab {
  opacity: 0.5;
}

.tab-quotes .tab-nav a {
  width: 60px;
  height: 60px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 1rem;
}

.tab-quotes .tab-nav a:nth-child(1) {
  background-image: url("../images/clavis-usr1.png");
}

.tab-quotes .tab-nav a:nth-child(2) {
  background-image: url("../images/clavis-usr2.png");
}

.tab-quotes .tab-nav a:nth-child(3) {
  background-image: url("../images/clavis-usr3.png");
}

.tab-quotes .tab-content.active {
  display: block;
}

.tab-quotes .fade-thum {
  opacity: 1 !important;
}

.footer {
  width: 100%;
  height: auto;
  background-color: #0065A1;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 1;
  font-size: 15px;
  line-height: 19px;
}

.footer .footer-bg {
  background: url("../images/svg/clavis-foooter.svg") left center/auto auto no-repeat;
}

.footer .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 767px) {
  .footer .footer-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer .footer-top .footer-info ul {
  padding: 0;
  margin-top: 2rem;
}

.footer .footer-top .footer-info ul li {
  color: #ffffff;
  list-style-type: none;
}

.footer .footer-top .footer-info ul:last-child {
  margin-top: 1.5rem;
}

.footer .footer-top .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 767px) {
  .footer .footer-top .footer-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer .footer-top .footer-nav ul {
  padding: 0px;
  margin-top: 1rem;
}

.footer .footer-top .footer-nav ul li {
  list-style-type: none;
  margin-bottom: 1rem;
}

.footer .footer-top .footer-nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.footer .footer-top .footer-nav ul li a:hover {
  text-decoration: underline;
}

.footer .footer-top .footer-nav ul:first-child {
  margin-right: 4rem;
}

.footer .footer-top::after {
  content: '';
  width: 100vw;
  height: 1px;
  background: #ffffff;
  position: absolute;
  bottom: 0px;
  margin-left: -50vw;
  left: 50%;
  opacity: 0.2;
}

.footer .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .footer .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer .footer-bottom p, .footer .footer-bottom a {
  color: #ffffff;
}

.footer .footer-bottom a {
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .footer .footer-bottom a {
    margin-top: 1rem;
  }
}

.footer .footer-bottom a:hover {
  text-decoration: underline;
}

.hero-image {
  background: url("../images/clavis-slide-1.jpg") no-repeat;
  height: 100%;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.collaborators-chart div {
  border: 1px solid #0065A1;
  padding: 2rem;
}

.collaborators-chart div img {
  width: auto;
  height: 70px;
}

.our-team-cards {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.our-team-cards .our-team-card-btn {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
}

@media (max-width: 767px) {
  .our-team-cards .our-team-card-btn {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.our-team-cards .our-team-card-btn .team-card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
}

@media (max-width: 767px) {
  .our-team-cards .our-team-card-btn .team-card-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.our-team-cards .our-team-card-btn .team-card-info .profile-picture {
  width: 44%;
  height: auto;
  padding-top: 48%;
  -webkit-transition: all .2s;
  transition: all .2s;
  overflow: hidden;
}

@media (max-width: 767px) {
  .our-team-cards .our-team-card-btn .team-card-info .profile-picture {
    padding-top: 32%;
  }
}

.our-team-cards .our-team-card-btn .team-card-info .profile-picture.p-id-1 {
  background: url("../images/clavis-team-1.jpg") no-repeat;
  background-size: 100%;
  background-position: center center;
}

.our-team-cards .our-team-card-btn .team-card-info .profile-picture.p-id-2 {
  background: url("../images/clavis-team-2.jpg") no-repeat;
  background-size: 100%;
  background-position: center center;
}

.our-team-cards .our-team-card-btn .team-card-info .profile-picture.p-id-3 {
  background: url("../images/clavis-team-3.jpg") no-repeat;
  background-size: 100%;
  background-position: center center;
}

.our-team-cards .our-team-card-btn .team-card-info .profile-picture.p-id-4 {
  background: url("../images/clavis-team-4.jpg") no-repeat;
  background-size: 100%;
  background-position: center center;
}

.our-team-cards .our-team-card-btn .team-card-info .team-card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 56%;
  padding: 0 2rem;
}

@media (max-width: 767px) {
  .our-team-cards .our-team-card-btn .team-card-info .team-card-content {
    width: 100%;
    padding: 0rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 1rem;
  }
}

.our-team-cards .our-team-card-btn .team-card-info .team-card-content p {
  font-size: 14px;
  line-height: 26px;
}

@media (max-width: 767px) {
  .our-team-cards .our-team-card-btn .team-card-info .team-card-content p {
    line-height: 16px;
  }
}

.our-team-cards .our-team-card-btn .team-card-info .team-card-content .card-link {
  position: relative;
  font-size: 12px;
  line-height: 22px;
  font-weight: bold;
  color: #0065A1;
  text-decoration: none;
  -webkit-transition: background-image 0.5s ease;
  transition: background-image 0.5s ease;
  height: auto;
  width: 100%;
  padding: 0.8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .our-team-cards .our-team-card-btn .team-card-info .team-card-content .card-link {
    padding: 0.5rem 0;
  }
}

.our-team-cards .our-team-card-btn .team-card-info .team-card-content .card-link svg {
  width: 35px;
}

.our-team-cards .our-team-card-btn .team-card-info .team-card-content .card-link svg .collab-arrow-0 {
  fill: none;
  stroke: #060606;
  stroke-width: 3;
  stroke-linecap: round;
}

.our-team-cards .our-team-card-btn .team-card-info .team-card-content .card-link svg .collab-arrow-1 {
  fill: none;
  stroke: #060606;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.our-team-cards .our-team-card-btn .team-card-info .team-card-content .card-link span {
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  -webkit-transition: .2s;
  transition: .2s;
  position: absolute;
  opacity: 0;
  left: 20px;
  top: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.our-team-cards .our-team-card-btn .team-card-info:hover .profile-picture {
  background-size: 120%;
  background-position: center;
}

.our-team-cards .our-team-card-btn .team-card-info:hover .team-card-content a svg .collab-arrow-0 {
  stroke: #0065A1;
}

.our-team-cards .our-team-card-btn .team-card-info:hover .team-card-content a svg .collab-arrow-1 {
  stroke: #0065A1;
}

.our-team-cards .our-team-card-btn .team-card-info:hover .team-card-content a span {
  opacity: 1;
  left: 50px;
}

.modal {
  position: fixed;
  top: 0;
  right: -100vw;
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  z-index: 1;
}

.modal::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0;
  width: 50%;
  height: 100%;
  background: #F8F8F8;
}

@media (max-width: 767px) {
  .modal::before {
    width: 100%;
  }
}

.modal .modal-wrapper {
  max-width: 1430px;
  width: 100%;
  margin: 0 auto;
  padding: 130px 1rem 1rem;
  position: relative;
}

@media (max-width: 767px) {
  .modal .modal-wrapper {
    height: 100%;
  }
}

.modal .modal-wrapper .modal-close-btn {
  position: absolute;
  right: 1rem;
  top: 150px;
  font-size: 20px;
  border: none;
  background: #ffffff;
  z-index: 4;
}

@media (max-width: 767px) {
  .modal .modal-wrapper .modal-close-btn {
    background: none;
  }
}

.modal .modal-wrapper .modal-close-btn .close-modal {
  width: 30px;
  height: 30px;
  display: block;
  background: url("../images/svg/clavis-close-modal.svg") no-repeat;
}

@media (max-width: 767px) {
  .modal .modal-wrapper .modal-close-btn .close-modal {
    width: 17px;
    height: 17px;
    background-size: cover;
  }
}

.modal .members-cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: -1rem;
}

.modal .members-cv:before {
  content: '';
  height: 50px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#999999+0,e5e5e5+51&0+0,1+51 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(153, 153, 153, 0)), color-stop(51%, #e5e5e5));
  background: linear-gradient(to bottom, rgba(153, 153, 153, 0) 0%, #e5e5e5 51%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00999999', endColorstr='#e5e5e5',GradientType=0 );
  /* IE6-9 */
  position: absolute;
  z-index: 1;
}

@media (max-width: 767px) {
  .modal .members-cv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    overflow: scroll;
  }
}

.modal .members-cv .member-info {
  padding: 5rem 6rem 2rem 0;
  max-width: 360px;
  width: 100%;
}

@media (max-width: 1023px) {
  .modal .members-cv .member-info {
    padding: 2rem 0rem 0rem 0;
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .modal .members-cv .member-info .member-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.modal .members-cv .member-info .member-header img {
  width: 340px;
  height: auto;
}

@media (max-width: 767px) {
  .modal .members-cv .member-info .member-header img {
    width: 100px;
    height: 120px;
  }
}

.modal .members-cv .member-info .member-header div {
  margin-left: 0rem;
}

@media (max-width: 767px) {
  .modal .members-cv .member-info .member-header div {
    margin-left: 1rem;
  }
}

.modal .members-cv .member-info .member-header div h4 {
  margin-top: 3rem;
}

@media (max-width: 767px) {
  .modal .members-cv .member-info .member-header div h4 {
    margin-top: 0rem;
  }
}

.modal .members-cv .member-info .member-header div p {
  font-size: 13px;
  line-height: 26px;
}

@media (max-width: 767px) {
  .modal .members-cv .member-info .member-header div p {
    line-height: 13px;
  }
}

.modal .members-cv .member-info ul {
  padding: 1rem 0 0 0;
  border-top: 1px solid #6C6C6C;
}

@media (max-width: 1023px) {
  .modal .members-cv .member-info ul {
    margin: 0 2.5rem 0 0;
  }
}

@media (max-width: 767px) {
  .modal .members-cv .member-info ul {
    border-top: none;
    margin: none;
  }
}

.modal .members-cv .member-info ul li {
  list-style-type: none;
  font-size: 13px;
  line-height: 26px;
  position: relative;
  color: #6C6C6C;
  padding-left: 2rem;
}

.modal .members-cv .member-info ul li:nth-child(1) {
  background: url("../images/svg/clavis-contact.svg") left center/16px auto no-repeat;
}

.modal .members-cv .member-info ul li:nth-child(2) {
  background: url("../images/svg/clavis-phone.svg") left center/16px auto no-repeat;
}

.modal .members-cv .member-info ul li:nth-child(3) {
  background: url("../images/svg/clavis-in.svg") left center/16px auto no-repeat;
}

.modal .members-cv .scrollable-member-desc {
  position: relative;
  height: 100vh;
}

@media (max-width: 767px) {
  .modal .members-cv .scrollable-member-desc {
    height: auto;
  }
}

.modal .members-cv .scrollable-member-desc .member-desc {
  padding: 5.5rem 3rem 10rem 8rem;
  margin-right: 4rem;
  background: #ffffff;
  height: 100vh;
  overflow: scroll;
  position: relative;
}

@media (max-width: 1023px) {
  .modal .members-cv .scrollable-member-desc .member-desc {
    padding: 5.5rem 3rem 10rem 1rem;
    margin-right: 0rem;
    background: #F8F8F8;
  }
}

@media (max-width: 767px) {
  .modal .members-cv .scrollable-member-desc .member-desc {
    padding: 4rem 0 1rem 0;
    margin-right: 0rem;
    height: 100%;
  }
}

.modal .members-cv .scrollable-member-desc .member-desc p {
  font-size: 21px;
  line-height: 33px;
  width: 100%;
  max-width: 850px;
}

@media (max-width: 1023px) {
  .modal .members-cv .scrollable-member-desc .member-desc p {
    font-size: 14px;
    line-height: 20px;
  }
}

.modal .members-cv .scrollable-member-desc .member-desc ul {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .modal .members-cv .scrollable-member-desc .member-desc ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.modal .members-cv .scrollable-member-desc .member-desc ul li {
  list-style-type: none;
  margin-right: 1rem;
  font-size: 13px;
  color: #6C6C6C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .modal .members-cv .scrollable-member-desc .member-desc ul li {
    margin-bottom: 1rem;
    width: 130px;
  }
}

.modal .members-cv .scrollable-member-desc .member-desc ul li i {
  padding-right: 0.5rem;
}

@media (max-width: 767px) {
  .modal .members-cv .scrollable-member-desc .member-desc ul li i {
    width: 130px;
  }
}

.modal .members-cv .scrollable-member-desc .member-desc ul li i img {
  height: auto;
  width: 20px;
}

.modal .members-cv .scrollable-member-desc .member-desc ul li i img.ico-1 {
  width: 40px;
}

.modal .members-cv .scrollable-member-desc .member-desc ul li i img.ico-2 {
  width: 29px;
}

.modal .members-cv .scrollable-member-desc .member-desc ul li i img.ico-3 {
  width: 27px;
}

.modal .members-cv .scrollable-member-desc .member-desc ul li span {
  display: inline-block;
}

.parallax-slide {
  height: 70vh;
}

#parallax1 {
  background: url("../images/clavis-parallax-1.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.headline-animated .line {
  width: 100%;
  height: 65px;
  position: relative;
  height: auto;
}

.headline-animated .line span {
  position: relative;
  font-size: 52px;
  letter-spacing: 0;
  line-height: 1;
  opacity: 1;
}

@media (max-width: 767px) {
  .headline-animated .line span {
    font-size: 40px;
  }
}
/*# sourceMappingURL=app.css.map */